conda.enabled = true

process {
    withName: 'FASTP|FASTQC|MULTIQC' {
        conda = "${baseDir}/conda_environments/read_qc.yml"
    }
    withName: CONTAMINATION_CHECK {
        conda = "${baseDir}/conda_environments/confindr.yml"
    }
    withName: 'QUALIFYR|QUALIFYR_REPORT' {
        conda = "${baseDir}/conda_environments/qualifyr.yml"
    }
}

profiles {
    standard {
        includeConfig 'base.config'
        conda.useMamba = true
        executor {
            name = 'slurm'
            queueSize = 200
            pollInterval = '10 sec'
            queueStatInterval = '10m'
        }
        process {
            withLabel: small_resource_req {
                cpus = 2
                memory = 4.GB
            }
            withLabel: medium_resource_req {
                cpus = 4
                memory = 8.GB
            }
            withLabel: big_resource_req {
                cpus = 16
                memory = { 32.GB * task.attempt }
            }
            executor = 'slurm'
            stageInMode = 'symlink'
            errorStrategy = 'retry'
            maxRetries = 3
            cache = 'lenient'
            clusterOptions = {
                qos = task.time <= 30.minutes ? 'shortq' : 'normal'
                partition = task.time <= 30.minutes ? 'short,comp' : 'comp'
                return "--qos=${qos} --partition=${partition}"
            }
        }
    }
    local {
        process.executor = 'local'
        includeConfig 'base.config'
    }
}